
body {
}

div.homepage {
  width: 200px;
margin-left: auto;
margin-right:auto;
margin-top:30%;
font-family: Roboto;
text-align: center;
}
h2 {
  font-variant: small-caps;
  font-family: 'Roboto Condensed';
  color: #555555;
}
body {
  font-family: 'Cormorant Garamond';
}

div.resume {
  width: 600px;
margin-left: auto;
margin-right:auto;

}
